<html>
	<head>
		<style>
			body {
				background: black;
				text-align: center;
				color: green;
				padding: 132px; 
			}

		</style>
	</head>
	<body>
        <p style="font-size:15px" padding="135px">
            hangman.
        </p>
        <p style="font-size:40px; letter-spacing: 6px">
            <%= session[:word_as_dashes] %>
        </p>        
		<p>
			Guesses Remaining: <%= session[:guesses_left] %>
		</p>
		<p>
			<form method='POST' action='/guess'>
				<input type='text' name='guess'  />
				<input type='submit' value='Enter' />
			</form>
		</p>
		<p>
			<%= session[:game_message] %>
		</p>				
		<p>
			Incorrect Guesses: <%= session[:incorrect_guesses].join(', ').upcase %>
		</p>		
	</body>
</html>