<html>
	<head>
		<style>
			body {
				background: black;
				text-align: center;
				color: green;
				padding: 10px;
			}

			#lose_pic{
                width: 200px;
                height: 200px;
			}

		</style>
	</head>
	<body>
        <p style="font-size:45px">
            Lost
        </p>

        <p>
            <img id ="lose_pic" src="lose.gif">
        </p>        

		<p style="font-size:20px">
			The word was:
		</p>
        <p style="font-size:40px; letter-spacing: 6px">
            <%= session[:game_word] %>
        </p>        
		<p>
			<form method='GET' action='/'>
				<label>Play Again?</label><br><br>
				<input type='submit' value='Yes' />
			</form>
		</p>		
		<p>
			Incorrect Guesses: <%= session[:incorrect_guesses].join(', ').upcase %>
		</p>
	</body>
</html>